In [1]:
import numpy as np
import pandas as pd

In [6]:
url ="https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(url, encoding ="latin-1")

In [9]:
df.shape

(60943, 12)

In [10]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
correlation_matrix = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()

print(correlation_matrix)

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

In [21]:
df['Area'].nunique()

49

In [23]:
mean_2017 = df['Y2017'].mean()


std_dev_2017 = df['Y2017'].std()


print(f"Mean for Y2017: {mean_2017:.2f}")
print(f"Standard Deviation for Y2017: {std_dev_2017:.2f}")

Mean for Y2017: 140.92
Standard Deviation for Y2017: 1671.86

In [24]:
selected_columns = df[['Y2017', 'Area']]


grouped = selected_columns.groupby('Area')['Y2017'].sum()


area_with_highest_sum = grouped.idxmax()


highest_sum_value = grouped.max()


print(f"The area with the highest sum in 2017 is {area_with_highest_sum} with a sum of {highest_sum_value}")

The area with the highest sum in 2017 is Nigeria with a sum of 1483268.23

In [25]:
grouped = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()


total_processing_2017 = grouped.get('Processing', 0)


print(f"The total sum of 'Processing' in 2017 is: {total_processing_2017}")

The total sum of 'Processing' in 2017 is: 292836.0

In [26]:
madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Food supply (kcal/capita/day)')]


total_protein_supply_2015 = madagascar_2015['Y2015'].sum()


print(f"The total protein supply quantity in Madagascar in 2015 is: {total_protein_supply_2015}")

The total protein supply quantity in Madagascar in 2015 is: 7685.0

In [27]:
wine_2015 = df[(df['Element'] == 'Wine')]['Y2015'].sum()
wine_2018 = df[(df['Element'] == 'Wine')]['Y2018'].sum()

8
print(f"The total wine produced in 2015 is: {wine_2015}")
print(f"The total wine produced in 2018 is: {wine_2018}")

The total wine produced in 2015 is: 0.0
The total wine produced in 2018 is: 0.0

In [28]:
element_grouped = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()


year_with_highest_sum = element_grouped['Y2014'].idxmax()


print(f"The year with the highest sum of 'Stock Variation' is: {year_with_highest_sum}")

The year with the highest sum of 'Stock Variation' is: Domestic supply quantity

In [30]:

selected_columns = df[['Y2017', 'Area']]


grouped = selected_columns.groupby('Area')['Y2017'].sum()


sorted_grouped = grouped.sort_values()

7
seventh_lowest_sum = sorted_grouped.iloc[6]


area_with_seventh_lowest_sum = sorted_grouped[sorted_grouped == seventh_lowest_sum].index


print(f"The Area(s) with the 7th lowest sum in 2017: {area_with_seventh_lowest_sum}")

The Area(s) with the 7th lowest sum in 2017: Index(['Guinea-Bissau'], dtype='object', name='Area')

In [31]:

processing_2017 = df[(df['Element'] == 'Processing')]['Y2017'].sum()


print(f"The total sum of 'Processing' in 2017 is: {processing_2017}")

The total sum of 'Processing' in 2017 is: 292836.0